/*////////////// Fonts //////////////*/

/* link the web font used for the level 1 heading here */

h1 {
	font-family: 'Baskerville';
	src: url('fonts/Baskerville.ttc');
	color: #98ADA6;
	font-size: 80px;
	padding-bottom: 10px;
	margin: 0 0 5px;
}

/*////////// Global Styles ////////// */

body {
	background: #F3EBE9;
	font-size: 100%;
	font-family: 'Times New Roman', serif;
}

.wrapper {
	width: 960px;
	margin: 0 auto;
	background: #fff;
	padding: 0 45px 20px;
}

/* Write all remaining styles here */
a:-webkit-any-link {
	color: webkit-link;
	cursor: auto;
	text-decoration: underline;
}

div.featured {
	padding-top: 5px;
	border-top-style: solid;
	border-top-width: 1px;
	border-top-color: #CCCCCC;
}

div.featured figure {

	margin: 0 auto;
	border-style: solid;
	border-width: 5px;
	border-color: #98ADA6;
}

h2 {
	color: #6F7F7A;
}

.press-images {
	margin-bottom: 20px;
}

.press-images img {
	border: 5px #ccc solid;
	padding: 1px;
}
/*
.press-images {
	display: inline-block;
}

.col {
	border-style: solid;
	border-width: 5px;
	border-color: #CCCCCC;
	padding: 1px;
	float: left;
}
*/

.little {
	font-size: 0.8em;
	text-align: right;
}
